<div class="banner">
  <div class="content">
      <div>
          <h2>ABOUT US</h2>
      </div>
  </div>
</div>


<div class="gallery-container">
  <div class="content">
    <div class="welcome-main">
      <div class="page">
        <div class="inner-bar">
          <p> We are a leading Booth Construction and Raw Space Design Company based in Delhi. We have been in the business for the past 10 years and have been a part of all leading exhibitions around the globe. <br />
            <br />
            We have been associated with all big international exhibitions like Auto Expo, Plast India, bC India, Chemtech, Grid Tech, Satte, Acrex, Aahar, Convergence, GITB etc. <br />
            <br />
            Our design & fabrication team has worked around the globe, in fairs such as :- <br />
            Hotels Show, Exhibition centre , Road show, Product laungh , Mall Show, International show
            We now look forward to have a long and mutually beneficial association with your esteemed organization. We would like to assist and serve you for your upcoming events in India and abroad. <br />
            <!-- <br />
            Upcoming International Expos - <br />
            PVSEC, Hamburg, Germany ( CUMI-Murugappa)
            Tendence, Frankfurt (Fantasy Exports, Interseas Metal Furnishings)
            CPhI Worldwide, Frankfurt (Kamud, Surya Pharma, Alkali Metals, Optimus Pharma) <br />
            <br />
            We now look forward to have a long and mutually beneficial association with your esteemed organization.
            We would like to assist and serve you for your upcoming events in India and abroad. </p> -->
          <br />
          <img align="right" src="./assets/2.png" /> <a name="ad"></a>
          <p><strong style="color:#F00;">Advantages LA Exhibition :</strong></p>
          <ul>
            <li> Complete Solution provider for exhibitions under one roof. </li>
            <li> 3D Design to graphic printing to fabrication</li>
            <li>Inhouse design & fabrication unit</li>
            <li> Retail Kiosk design & fabrication</li>
            <li>Interior designing</li>
            <li>On time project deliveries</li>
            <li>Client satisfaction is on priority </li>
          </ul>
          <br />
          <a name="glob"></a>
          <p><strong style="color:#F00;">Global Presence :</strong> <br />
            <br />
            With our national & international presence we are always local for our clients. Being local we are familiar with the language, manpower & culture. Being local we are aware of the best available materilas & technology. Last but not the least, being local we are cost effective too.<br />
            <br />
            <br />
            <br />
            <br />
            <br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="testi">
  <h4>UPCOMING EXHIBITIONS</h4>
  <ngb-carousel class="container">
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
             <p>Auto Expo, Plast India, bC India, Chemtech, Grid Tech,<br>
              Satte, Acrex, Aahar, Convergence, CPHI India,India Wood, IHGF, GITB etc </p>
          </div>
      </ng-template>
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
              <p>Auto Expo, Plast India, bC India, Chemtech, Grid Tech,<br>
               Satte, Acrex, Aahar, Convergence, CPHI India,India Wood, IHGF, GITB etc </p>
           </div>
      </ng-template>
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
              <p>Auto Expo, Plast India, bC India, Chemtech, Grid Tech,<br>
               Satte, Acrex, Aahar, Convergence, CPHI India,India Wood, IHGF, GITB etc </p>
           </div>
      </ng-template>
     
  </ngb-carousel>
</div>
<img src="assets/images/down-arrow.png" alt="" class="imgborder">

<br><br>
<div class="dark">
  <h5 class="container">
    <a routerLink="/clients">OUR CLIENTS</a>
  </h5>
</div>
<br>
<div class="container">
  <div id="maindiv">
    <div id="div1">
      <img src="./assets/logo/1.jpg" >
      <img src="./assets/logo/2.jpg" >
      <img src="./assets/logo/3.jpg" >
      <img src="./assets/logo/4.jpg" >
      <img src="./assets/logo/5.jpg" >
      <img src="./assets/logo/6.jpg" >
      <img src="./assets/logo/7.jpg" >
      <img src="./assets/logo/8.jpg" >
      <img src="./assets/logo/9.jpg" >
      <img src="./assets/logo/10.jpg" >
      <img src="./assets/logo/11.jpg" >
      <img src="./assets/logo/12.jpg" >
      <img src="./assets/logo/13.jpg" >
      <img src="./assets/logo/14.jpg" >
      <img src="./assets/logo/15.jpg" >
      <img src="./assets/logo/16.jpg" >
      <img src="./assets/logo/17.jpg" >
      <img src="./assets/logo/18.jpg" >
      <img src="./assets/logo/19.jpg" >
      <img src="./assets/logo/20.jpg" >
      <img src="./assets/logo/21.jpg" >
      <img src="./assets/logo/22.jpg" >
      <img src="./assets/logo/23.jpg" >
      <img src="./assets/logo/24.jpg" >
</div>
  </div>
</div>
<br><br>