<!-- <footer>
    <div class="container" id="contact">
        <div class="row">
            <div class="col-4">
                <h5>INFORMATION</h5>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Clientele</a></li>
                <li><a href="#">Contact Us</a></li>

            </div>
            <div class="col-4">
                <h5>FOLLOW US</h5>
                <a href="#" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"
                        style="color: #fff;"></i> facebook</a>
            </div>
            <div class="col-4">
                <img src="assets/images/logo.png">
                <br><br>
                <p>Copyright © 2019-2020 | All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> -->

<footer>
    <div class="container" id="contact">
        <div class="col-6">
            <h3>Get in touch with us. Feel Free to use contact below.</h3>
            <p>+91 8527421013  <br>
                    info@laexhibitions.com</p>
            <a href="#" target="_blank"><img src="assets/images/facebook.svg" alt=""></a>
            <a href="#" target="_blank"><img src="assets/images/twitter.svg" alt=""></a>
        </div>
        <div class="col-6">
            <h3>Find us</h3>
            <p>LA Exhibition,<br>

                    Head Office,<br>

                    D-589, Ground Floor, Avantika, Sec-1, Rohini, <br>

                    LandMark NR Mahadev Chowk Delhi-110085 </p>
        </div>
        <p class="copy">Copyright © 2019-2020 | All rights reserved.</p>
    </div>
</footer>
