<div class="banner">
  <div class="content">
      <div>
          <h2>OUR SERVICES</h2>
      </div>
  </div>
</div>


<div class="gallery-container">
  <div class="content">
    <div class="welcome-main">
      <div class="page">
        <div class="inner-bar">

          The L.A EXHIBITION are experienced in Event Management and dedicated to providing you an 
          exceptional service with outstanding results. Our goal is to provide clients with a meticulous
           outlook to their event and to exceed the clients satisfaction by making their event a 
           successful one. We are passionate about what we do and have what it takes to make your event 
           run smoothly. Our motivated and enthusiastic team are attentive to detail and adhere to 
           deadlines as we believe this is key to delivering successful and timely driven projects. 
           L.A EXHIBITION are well equipped to take care of the planning and execution of events, 
           including the following:
           <br />
           
          <br />
          <img align="right" src="./assets/2.png" /> <a name="ad"></a>
          <!-- <p><strong style="color:#F00;">Services :</strong></p> -->
          <ul>
            <li> Corporate Events </li>
            <li> Product Launches </li>
            <li> Grand Openings </li>
            <li> Symposium Conferences/Conventions </li>
            <li> Meetings & Seminars  </li>
            <li> Commercial Events </li>
            <li> Government Events </li>
            <li> Celebrations </li>
            <li> Festivals </li>

          </ul>
          <br />
          <a name="glob"></a>
          <p>
            <!-- <strong style="color:#F00;">Global Presence :</strong> <br /> -->
            <br />
            At L.A EXHIBITION we know exhibitions; we always start by understanding our client's
             business needs. Who they are, what they intend to achieve, how they would like to be 
             promoted and if they have any budget constraints to understand how we can best be able
              to achieve what the client wants. 
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="testi">
  <h4>UPCOMING EXHIBITIONS</h4>
  <ngb-carousel class="container">
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
             <p>Auto Expo, Plast India, bC India, Chemtech, Grid Tech,<br>
              Satte, Acrex, Aahar, Convergence, CPHI India,India Wood, IHGF, GITB etc </p>
          </div>
      </ng-template>
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
              <p>Auto Expo, Plast India, bC India, Chemtech, Grid Tech,<br>
               Satte, Acrex, Aahar, Convergence, CPHI India,India Wood, IHGF, GITB etc </p>
           </div>
      </ng-template>
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
              <p>Auto Expo, Plast India, bC India, Chemtech, Grid Tech,<br>
               Satte, Acrex, Aahar, Convergence, CPHI India,India Wood, IHGF, GITB etc </p>
           </div>
      </ng-template>
     
  </ngb-carousel>
</div>
<img src="assets/images/down-arrow.png" alt="" class="imgborder">

<br><br>
<div class="dark">
  <h5 class="container">
    <a routerLink="/clients">OUR CLIENTS</a>
  </h5>
</div>
<br>
<div class="container">
  <div id="maindiv">
    <div id="div1">
      <img src="./assets/logo/1.jpg" >
      <img src="./assets/logo/2.jpg" >
      <img src="./assets/logo/3.jpg" >
      <img src="./assets/logo/4.jpg" >
      <img src="./assets/logo/5.jpg" >
      <img src="./assets/logo/6.jpg" >
      <img src="./assets/logo/7.jpg" >
      <img src="./assets/logo/8.jpg" >
      <img src="./assets/logo/9.jpg" >
      <img src="./assets/logo/10.jpg" >
      <img src="./assets/logo/11.jpg" >
      <img src="./assets/logo/12.jpg" >
      <img src="./assets/logo/13.jpg" >
      <img src="./assets/logo/14.jpg" >
      <img src="./assets/logo/15.jpg" >
      <img src="./assets/logo/16.jpg" >
      <img src="./assets/logo/17.jpg" >
      <img src="./assets/logo/18.jpg" >
      <img src="./assets/logo/19.jpg" >
      <img src="./assets/logo/20.jpg" >
      <img src="./assets/logo/21.jpg" >
      <img src="./assets/logo/22.jpg" >
      <img src="./assets/logo/23.jpg" >
      <img src="./assets/logo/24.jpg" >
</div>
  </div>
</div>
<br><br>