<div>
    <div class="banner" id="home">
        <ngb-carousel *ngIf="images" class="container     ">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide">
                </div>
                <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>



    <div class="about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 box-wrap">
                    <img src="http://stridesdezine.com/images/pic-1.png" alt="">
                    <h2>WELCOME TO <small>OUR WEBSITE</small></h2>
                    <p>We are a leading Booth Construction and Raw Space Design Company based in Delhi. We have been in the business for the past 10 years and have been a part of all leading exhibitions around the globe.</p>
                    <img src="assets/images/mor-icon.png" alt="">
                </div>
                <div class="col-sm-4 box-wrap">
                    <img src="http://stridesdezine.com/images/pic-1.png" alt="">
                    <h2>WELCOME TO <small>OUR WEBSITE</small></h2>
                    <p>We are a leading Booth Construction and Raw Space Design Company based in Delhi. We have been in the business for the past 10 years and have been a part of all leading exhibitions around the globe.</p>
                    <img src="assets/images/mor-icon.png" alt="">
                </div>
                <div class="col-sm-4 box-wrap">
                    <img src="http://stridesdezine.com/images/pic-1.png" alt="">
                    <h2>WELCOME TO <small>OUR WEBSITE</small></h2>
                    <p>We are a leading Booth Construction and Raw Space Design Company based in Delhi. We have been in the business for the past 10 years and have been a part of all leading exhibitions around the globe.</p>
                <img src="assets/images/mor-icon.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="testi">
    <h4>UPCOMING INTERNATIONAL EXPOS</h4>
    <ngb-carousel class="container">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
               <p>PVSEC, Hamburg, Germany ( CUMI-Murugappa)<br>
                    Tendence, Frankfurt (Fantasy Exports, Interseas Metal Furnishings) </p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
               <p>PVSECf, Hamburg, Germany ( CUMI-Murugappa)<br>
                    Tendence, Frankfurt (Fantasy Exports, Interseas Metal Furnishings) </p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
               <p>PVSECd, Hamburg, Germany ( CUMI-Murugappa)<br>
                    Tendence, Frankfurt (Fantasy Exports, Interseas Metal Furnishings) </p>
            </div>
        </ng-template>
       
    </ngb-carousel>
</div>
<img src="assets/images/down-arrow.png" alt="" class="imgborder">

<div class="container" style="position: relative;">
    <h4 style="text-align: center;color: #e31304;margin-bottom: 30px;"><b>OUR PORTFOLIO</b></h4>
    <div class="portfolio owl-carousel">
            <img src="http://stridesdezine.com/images/port-p1.jpg" alt="">
            <img src="http://stridesdezine.com/images/port-p2.jpg" alt="">
            <img src="http://stridesdezine.com/images/port-p3.jpg" alt="">
            <img src="http://stridesdezine.com/images/port-p4.jpg" alt="">
            <img src="http://stridesdezine.com/images/port-p5.jpg" alt="">
            <img src="http://stridesdezine.com/images/port-p3.jpg" alt="">
            <img src="http://stridesdezine.com/images/port-p2.jpg" alt="">
            <img src="http://stridesdezine.com/images/port-p1.jpg" alt="">
    </div>
</div>
<br><br>
<div class="dark">
    <h5 class="container">
            OUR CLIENTS
    </h5>
</div>
<br>
<div class="container">
        <div id="maindiv">
            <div id="div1">
                  <img src="http://stridesdezine.com/images/alphion.jpg" >
                  <img src="http://stridesdezine.com/images/alphion.jpg"  >
                  <img src="http://stridesdezine.com/clients-logo/groz.jpg" alt="">
                  <img src="http://stridesdezine.com/images/alphion.jpg" alt="">
                  <img src="http://stridesdezine.com/images/alphion.jpg" alt="">
                  <img src="http://stridesdezine.com/images/alphion.jpg" alt="">
                  <img src="http://stridesdezine.com/images/alphion.jpg" alt="">
                  <img src="http://stridesdezine.com/images/alphion.jpg" alt="">
                  <img src="http://stridesdezine.com/images/alphion.jpg" alt="">
                  <img src="http://stridesdezine.com/images/alphion.jpg" alt="">
                  <img src="http://stridesdezine.com/images/alphion.jpg" alt="">
                </div>
              </div>
</div>
<br><br>