<div>
    <div class="banner" id="home">
        <ngb-carousel *ngIf="images" class=""> <!-- container -->
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide">
                </div>
                <!-- <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div> -->
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide">
                </div>
                <!-- <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div> -->
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide">
                </div>
                <!-- <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div> -->
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[3]" alt="Random fourth slide">
                </div>
                <!-- <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div> -->
            </ng-template>
        </ngb-carousel>
    </div>



    <div class="about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 box-wrap">
                    <img src="http://stridesdezine.com/images/pic-1.png" alt="">
                    <h2>WELCOME TO <small>OUR WEBSITE</small></h2>
                    <p>We are a leading Booth Construction and Raw Space Design Company based in Delhi. We have been in the business for the past 10 years and have been a part of all leading exhibitions around the globe.
                        </p>
                    <a routerLink="/about"><img src="assets/images/mor-icon.png" alt=""></a>
                </div>
                <div class="col-sm-4 box-wrap">
                    <img src="http://stridesdezine.com/images/pic-1.png" alt="">
                    <h2>ADVANTAGE <small>LA EXHIBITIONS DESIGN</small></h2>
                    <p>Complete Solution provider for exhibitions under one roof.
                        3D Design to graphic printing to fabrication
                        Inhouse design & fabrication unit
                        Retail Kiosk design & fabrication
                        Interior designing</p>
                    <a routerLink="/about"><img src="assets/images/mor-icon.png" alt=""></a>
                </div>
                <div class="col-sm-4 box-wrap">
                    <img src="http://stridesdezine.com/images/pic-1.png" alt="">
                    <h2>GLOBAL <small>PRESENCE</small></h2>
                    <p>
                        With our national & international presence we are always local for our clients. Being local we are familiar with the language, manpower & culture. Being local we are aware of the best available materilas & technology. 
                    </p>
                    <a routerLink="/about"><img src="assets/images/mor-icon.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="testi">
    <h4>UPCOMING EXHIBITIONS</h4>
    <ngb-carousel class="container">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
               <p>Auto Expo, Plast India, bC India, Chemtech, Grid Tech,<br>
                Satte, Acrex, Aahar, Convergence, CPHI India,India Wood, IHGF, GITB etc </p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <p>Auto Expo, Plast India, bC India, Chemtech, Grid Tech,<br>
                 Satte, Acrex, Aahar, Convergence, CPHI India,India Wood, IHGF, GITB etc </p>
             </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <p>Auto Expo, Plast India, bC India, Chemtech, Grid Tech,<br>
                 Satte, Acrex, Aahar, Convergence, CPHI India,India Wood, IHGF, GITB etc </p>
             </div>
        </ng-template>
       
    </ngb-carousel>
</div>
<img src="assets/images/down-arrow.png" alt="" class="imgborder">

<div class="container" style="position: relative;">
    <h4 style="text-align: center;color: #e31304;margin-bottom: 30px;"><b>OUR PORTFOLIO</b></h4>
    <!-- <div class="portfolio "> -->
    <div class="container">
        <div id="maindiv">
            <div id="div1">
                <img src="./assets/work-images/1.jpg" alt="">
                <img src="./assets/work-images/2.jpg" alt="">
                <img src="./assets/work-images/3.jpg" alt="">
                <img src="./assets/work-images/4.jpg" alt="">
                <img src="./assets/work-images/5.jpg" alt="">
                <img src="./assets/work-images/6.jpeg" alt="">
                <img src="./assets/work-images/7.jpg" alt="">
                <img src="./assets/work-images/8.jpg" alt="">
                <img src="./assets/work-images/9.jpeg" alt="">
                <img src="./assets/work-images/10.jpg" alt="">
                <img src="./assets/work-images/11.jpg" alt="">
                <img src="./assets/work-images/12.jpg" alt="">
                <img src="./assets/work-images/13.jpeg" alt="">
                <img src="./assets/work-images/14.jpg" alt="">
                <img src="./assets/work-images/15.jpeg" alt="">
                <img src="./assets/work-images/16.jpeg" alt="">
                <img src="./assets/work-images/17.jpeg" alt="">
                <img src="./assets/work-images/18.jpeg" alt="">
            </div>
        </div>
    </div>
    <!-- </div> -->
    <a routerLink="/gallery" style="text-align: center;margin-bottom: 30px;">See more</a>

</div>
<br><br>
<div class="dark">
    <h5 class="container">
            <a routerLink="/clients">OUR CLIENTS</a>
    </h5>
</div>
<br>
<div class="container">
        <div id="maindiv">
            <div id="div1">
                  <img src="./assets/logo/1.jpg" >
                  <img src="./assets/logo/2.jpg" >
                  <img src="./assets/logo/3.jpg" >
                  <img src="./assets/logo/4.jpg" >
                  <img src="./assets/logo/5.jpg" >
                  <img src="./assets/logo/6.jpg" >
                  <img src="./assets/logo/7.jpg" >
                  <img src="./assets/logo/8.jpg" >
                  <img src="./assets/logo/9.jpg" >
                  <img src="./assets/logo/10.jpg" >
                  <img src="./assets/logo/11.jpg" >
                  <img src="./assets/logo/12.jpg" >
                  <img src="./assets/logo/13.jpg" >
                  <img src="./assets/logo/14.jpg" >
                  <img src="./assets/logo/15.jpg" >
                  <img src="./assets/logo/16.jpg" >
                  <img src="./assets/logo/17.jpg" >
                  <img src="./assets/logo/18.jpg" >
                  <img src="./assets/logo/19.jpg" >
                  <img src="./assets/logo/20.jpg" >
                  <img src="./assets/logo/21.jpg" >
                  <img src="./assets/logo/22.jpg" >
                  <img src="./assets/logo/23.jpg" >
                  <img src="./assets/logo/24.jpg" >
            </div>
        </div>
</div>
<br><br>