<header>
    <div class="topstrip">
        <div class="container">Welcome to Over Website</div>
    </div>
    <!-- <div class="contact container text-right">
        <a href="tel:+918527421013"><i class="fa fa-phone-square" aria-hidden="true"></i> +91 8527421013</a>
    </div> -->
    <div class="container">
        <a routerLink="/" class="logo">
            <img src="assets/images/logo2.png">
        </a>

        <div class="menu">
            <a href="#home" class="link">home <small>Main page</small>
            </a>
            <a href="#about" class="link">About us <small>company profile</small>
            </a>
            <a routerLink="/gallery" class="link">Gallery <small>our portfolio</small>
            </a>
            <a href="#contact" class="link">Contact <small>page title</small>
            </a>
        </div>
    </div>
</header>